@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    overflow: auto;
    font-family: roboto, sans-serif;
    margin: 0;
    background-image: url(./images/world.jpg);
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 55px;
}

.header-container {
    display: flex;
    flex: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 2000px;
    height: 75px;
    
}

.logo {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo img{
    width: 100px;
    height: 100px;
}

.header-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 400px;
}

.main-body {
    margin: 0;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    flex: auto;
    flex-direction: row-reverse;
}

.left-body {
    margin-right: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 550px;
    min-height: 350px;
    flex: none;
    padding: 0;
}

button.join-us {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    font-size: 24px;
    color: white;
    background-color: #2755a0;
    
}

.right-body {
    margin-left: 400px;
    display: flex;
}

.right-body img {
    max-width: 550px;
    max-height: 350px;
    object-fit: cover;
}

.hero-text{
    color:#F9FAF8;
    font-weight: 800;
    font-size: 56px;
}

.secondary-text {
    font-size: 18px;
}

.about {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin-top: 20px;
}

.about-header{
    color:#F9FAF8;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.container{
    display: flex;
    gap: 52px;
    text-align: center;
    flex: auto;
}

.container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px lightskyblue solid;
    border-radius: 25%;
    margin-bottom: 8px;
}

.name{
    color:#E5E7EB;
    font-size: 24px;
    font-weight: 800;
}

.text {
    color:#E5E7EB;
    font-size: 18px;
    font-weight: 700;
}